{% extends 'ext/studentEXT.html' %}

{% block title %}
<title>Contact</title>
{% endblock %}
{% block body %}
<h2 class="title is-4 sec-title">Contact Us!</h2>
<div class="sec">
  <div class="sub-sec content">
      <h3 class="title is-5 sub-sec-title" >Bobby Nicholson - Lead Coach</h3>
      <div class="sub-sec-text-contact">
          <ul>
              <li>
                  <strong>Text: </strong> (865) 643-6030
              </li>
          </ul>
      </div>
  </div>
  <div class="sub-sec content">
      <h3 class="title is-5 sub-sec-title" >Karly Kammann - Enrollment Coordinator</h3>
      <div class="sub-sec-text-contact">
          <ul>
              <li>
                  <strong>Text: </strong> (865) 258-4369
              </li>
          </ul>
      </div>
  </div>
  <div class="sub-sec content">
      <h3 class="title is-5 sub-sec-title" >Lakelon Bailey - Website Developer</h3>
      <div class="sub-sec-text-contact">
          <ul>
              <li>
                  <strong>Email: </strong><a href="mailto: lake.bailey@actprep.com">lake.bailey@actprep.com</a>
              </li>
              <li>
                  <strong>Text: </strong> (865) 816-4695
              </li>
          </ul>
      </div>
  </div>
</div>
{% endblock %}